@import "../../../assets/scss/variables";

nav{
  width: 100%;
  height: 100%;
}

.link-list{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $text-color;

  ul{
    height: 100%;
  }

  a{
    font-size: 2vw;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    font-family: Barlow-SemiBoldItalic, serif;
    &::after {
      bottom: 0;
      content: "";
      display: block;
      height: 3px;
      left: 50%;
      position: absolute;
      background: $text-color;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }
  }

  a.active{
    &::after {
      bottom: 0;
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      left: 0;
      position: absolute;
      background: $text-color;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }
  }
}
@media(max-width: $layout-breakpoint-medium) {

}