@import "../../assets/scss/variables";

section.dashboard{
  width: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  margin: auto 10px;
  h2{
    height: 10%;
    text-align: center;
  }

  .dashboard-links {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
  }

}

@media(max-width: $layout-breakpoint-small){
  section.dashboard {
    .dashboard-links{
      grid-template-columns: repeat(2, 1fr);
    }
  }

}

@media(max-width: $layout-breakpoint-extra-small){
  section.dashboard {
    .dashboard-links{
      grid-template-columns: repeat(1, 1fr);
    }
  }

}