@import "../../../assets/scss/variables";

header{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $base-blue;
  .logo-app{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
      border-radius: 15px;
    }
  }

  .app-title{
    font-family: Barlow-SemiBoldItalic, serif;
    font-size: calc(9px + 1vw);
  }

  .links{
    width: 60%;
    height: 100%;
  }
}

@media(max-width: $layout-breakpoint-medium) {

  header{
    .logo-app{
      margin-left: 80px;
      img{
        width: 120px;
        height: 120px;
      }
    }

    .app-title{
      width: 60%;
      text-align: center;
    }

    .links{
      display: none;
    }
  }

}

@media (max-width: $layout-breakpoint-small) {
  header{
    height: 15vh;
    .logo-app{
      img{
        width: 80px;
        height: 80px;
      }
    }
  }
}

