@import "../../../assets/scss/variables";

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #17CFE3;

  .footer-link{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
  }

  .copyright{
    height: 30%;
  }
}

@media (max-width: $layout-breakpoint-extra-small)
{
  .footer-link{
    flex-direction: column;
    height: 50%;
  }
}