@import '../app/assets/scss/variables';

@font-face {
  font-family: "Barlow";
  src: local("Barlow-Regular"), url("../app/assets/fonts/Barlow-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow-SemiBold";
  src: local("Barlow-SemiBold"), url("../app/assets/fonts/Barlow-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow-SemiBoldItalic";
  src: local("Barlow-SemiBoldItalic"), url("../app/assets/fonts/Barlow-SemiBoldItalic.ttf") format("truetype");
}

body.container {
  margin: 0;
  min-height: 100vh;
  font-family: Barlow, serif;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  button{
    font-family: Barlow, serif;
  }

  a{
    text-decoration: none;
  }
  a, a:visited{
    color: $text-color;
  }
}

@media(max-width: $layout-breakpoint-small){
  header.app-header{
    position: sticky;
    top: 0;
    z-index: 4;
  }
  .hidden-s{
    display: none;
  }
  table.app-table{
    font-size: 0.8em;
    button{
      font-size: 0.9em;
    }
  }
}

@media(max-width: $layout-breakpoint-extra-small){
  .hidden-xs{
    display: none !important;
  }
}