@import "../../../assets/scss/variables";

article.dashboard-matchs{
  min-height: 60vh;
  margin: 20px 0;
  width: 90%;
  text-align: center;
  background: $card-background;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  section.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    div.add-match-button{
      width: 90%;
      display: flex;
      justify-content: end;
    }

    table {
      width: 90%;
      border-collapse: collapse;
      margin: 20px 0;
      background-color: #f2f2f2;

      th, td {
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }

      td{
        text-align: left;
      }

      tr:hover {
        background-color: #e1e1e1;
      }
    }

    button {
      padding: 5px 10px;
      border: solid 1px $base-blue;
      color: $text-color;
      background: $button-hover;
      cursor: pointer;
      transition: all $transition-duration;
      font-weight: bold;
      &:hover {
        background-color: $base-blue;
        border-color: $button-hover;
      }
    }
  }


}